doctype html 5
<!--[if IE]> <html lang="ru" class="ie"> <![endif]-->
<!--[if !IE]><!-->
html(lang="ru")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')

    <!--[if lt IE 9]>
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js') 
    script(type='text/javascript' src='http://ie.cntrlmrktng.ru/1.0/help.js' charset='UTF-8' async='async')
    <![endif]-->
  body

    // === Header ============================================================= 

    include blocks/b-header.jade

    // === Section ============================================================ 

    section
      .container

    // ==== Footer ============================================================ 

    include blocks/b-footer.jade

    // === Scripts ============================================================ 

    script(src='js/vendor/jquery.min.js')
    script(src='js/main.js')