global-reset();

*, *:before, *:after
    box-sizing border-box;

html 
    font-size 100%;

body
    min-width $container-width;
    background #fff;
    font-family $font-default;
    line-height 1.2;
    color $color-black;

a
    color inherit;

.container
    width $container-width;
    margin 0 auto;
    clearfix();


/* Заголовки 
---------------------------------------------------------- */

/*.heading

.heading--xl
    @extend .heading;

.heading--l
    @extend .heading;

.heading--m
    @extend .heading;

.heading--s
    @extend .heading;

.heading--section
    @extend .heading;*/

/* Элементы форм 
---------------------------------------------------------- */

/*.input
    placeholder(inherit);

.btn

.btn--xl
    
.btn--l
    
.btn--m*/

/* Ссылки
---------------------------------------------------------- */

/*.link
    display inline-block;
    text-decoration none;

    &:hover
        border none;*/

/* Изображения
---------------------------------------------------------- */

/*.image*/